<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Restaurantly - Book a table</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">

  
  <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">

  <!-- Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span>+58 424 927 1856</span></i>
        <i class="bi bi-clock d-flex align-items-center ms-4"><span> Lun-Sab: 11AM - 23PM</span></i>
      </div>

      <div class="languages d-none d-md-flex align-items-center">
        <ul>
          <li>En</li>
          <li>De</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0">Restaurantly</h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="/rest">Home</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <main id="main">
    <section class="breadcrumbs">
      <div class="container">

        <!-- ======= Book A Table Section ======= -->
        <section id="book-a-table" class="book-a-table">
          <div class="container">
    
            <div class="section-title">
              <h2>Reservación</h2>
              <p>Reserva una Mesa</p>
            </div>
    
            <form action="#" th:action="@{/reserveIndex/saveReserve}" th:object="${reserve}" method="post"  class="php-email-form">
              <input type="hidden" th:field="*{id}" name="id" id="id">
              <input type="hidden" th:field="*{user_id}" name="user_id" id="user_id">
              <div class="row">
                <div class="col-lg-4  form-group">
                  <input type="text" class="form-control" id="user_name" th:field="*{user_id.name}" name="user_name" placeholder="Nombre">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4  form-group">
                  <input type="text" class="form-control" id="user_last_name" th:field="*{user_id.last_name}" name="user_last_name" placeholder="Apellido">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4  form-group mt-3 mt-md-0">
                  <input type="text" class="form-control" id="user_phone" th:field="*{user_id.phone}" name="user_phone" placeholder="Teléfono">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-1  form-group">
                  <input type="text" class="form-control" id="user_document_type" th:field="*{user_id.document_type}" name="user_document_type" placeholder="Tipo">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-3 form-group ">
                  <input type="text" class="form-control" id="user_document" th:field="*{user_id.document}" name="user_document" placeholder="Documento">
                  <div class="validate"></div>
                </div>
                  
                <div class="col-lg-4  form-group mt-3 mt-md-0">
                  <input type="text" class="form-control" id="user_mail" th:field="*{user_id.mail}" name="user_mail" placeholder="Correo">
                  <!-- <div class="validate"></div> -->
                </div>
                
                <div class="col-lg-4  form-group mt-3 mt-md-0">
                    <input type="date" class="form-control" id="date" th:field="*{date}" name="date" placeholder="Fecha">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4  form-group mt-3 mt-md-0">
                  <input type="time" step="2" class="form-control" id="hour" th:field="*{hour}" name="hour" placeholder="Hora">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4  form-group mt-3 mt-md-0">
                  <select class="form-select"  th:field="*{reserve_type}">
                    <option value="" selected>Selecciona un tipo de reserva</option>
                    <option value="Almuerzo">Almuerzo</option>
                    <option value="Cena">Cena</option>
                    <option value="Onces">Onces</option>
                    <option value="Cumpleaños">Cumpleaños</option>
                    <option value="Ocasion especial">Ocasion especial</option>
                  </select>
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4  form-group mt-3 mt-md-0">
                  <input type="number" class="form-control" id="number_of_people" th:field="*{number_of_people}" name="number_of_people" placeholder="Cantidad de personas">
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group mt-3 ">
                <input type="text" class="form-control" id="note" th:field="*{note}" name="note" placeholder="Observación">
                <div class="validate"></div>
              </div>
              <div class="text-center"><button type="submit">Reservar una Mesa</button></div>
            </form>
    
          </div>
        </section><!-- End Book A Table Section -->
    

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 ">
            <div class="footer-info">
              <h3>Restaurantly</h3>
              <p>
                Calle Caura Alta vista Torre Alferez Pto Ordaz  <br>
                Ciudad Guayana, Bolívar<br><br>
                <strong>Phone:</strong> +58 424 927 1856<br>
                <strong>Email:</strong> fatima.ospina@gmail.com<br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Restaurantly</span></strong>. All Rights Reserved
      </div>
      <div class="credits">Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <script src="../static/js/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>

  <!-- Main JS File -->
  <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>